<%- include('layouts/head'); -%> 
<%- include('layouts/header'); -%> 
<%- include('layouts/nav'); -%>
<section>
  <div id="productCategoryReport">
    <h3>Please select a category to generate a store level inventory report</h3>
    <form method="POST" name="category_report_form">
      <% function onlyUnique(value, index, self) { return self.indexOf(value) ===
      index; } var uniqueCategory = []; var categoryArray = []; for(var j = 0; j <
      products.length; j++) { categoryArray[j] = products[j].category; }
      uniqueCategory = categoryArray.filter(onlyUnique); %>

      <select name="category" id="category">
        <% for (var i = 0; i < uniqueCategory.length; i++) { %>
        <option value="<%= uniqueCategory[i] %>"><%= uniqueCategory[i] %></option>
        <% } %>
      </select>
      <input type="submit" value="Submit" name="submit" />
    </form>
  </div>
</section>
<%- include('layouts/footer'); -%>
