<%- include('layouts/head'); -%> 
<%- include('layouts/header'); -%> 
<%- include('layouts/nav'); -%>
<section>
  <button id="createProduct"><a href="/product/create">Add a product</a></button>
  <div id="productTable">
    <table id="productList">
      <thead>
        <tr>
          <th>Code <i class="arrow up" onclick="sortCodeAsc()"></i> <i class="arrow down" onclick="sortCodeDes()"></i></th>
          <th>Name <i class="arrow up" onclick="sortNameAsc()"></i> <i class="arrow down" onclick="sortNameDes()"></i></th>
          <th>Category <i class="arrow up" onclick="sortCategoryAsc()"></i> <i class="arrow down" onclick="sortCategoryDes()"></i></i></th>
          <th>Store Name <i class="arrow up" onclick="sortStoreNameAsc()"></i> <i class="arrow down" onclick="sortStoreNameDes()"></i></th>
          <th>Warehouse Qty <i class="arrow up" onclick="sortWarehouseQtyAsc()"></i> <i class="arrow down" onclick="sortWarehouseQtyDes()"></i></th>
          <th>Store Qty <i class="arrow up" onclick="sortStoreQtyAsc()"></i> <i class="arrow down" onclick="sortStoreQtyDes()"></i></th>
          <th>Cost ($) <i class="arrow up" onclick="sortCostAsc()"></i> <i class="arrow down" onclick="sortCostDes()"></i></th>
          <th>Retail Price ($) <i class="arrow up" onclick="sortPriceAsc()"></i> <i class="arrow down" onclick="sortPriceDes()"></i></th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="lecturesTableData1">
        <% for(var product of products) { %>
        <tr>
          <td><%= product.productId %></td>
          <td><%= product.productName %></td>
          <td><%= product.category %></td>
          <td><%= product.storeName %></td>
          <td><%= product.warehouseQty %></td>
          <td><%= product.storeQty %></td>
          <td><%= product.productCost.toFixed(2) %></td>
          <td><%= product.productPrice.toFixed(2) %></td>
          <td>
            <input
              type="button"
              value="Edit"
              onclick="location.href='/product/<%= product.id %>/update'"
            />
          </td>
          <td>
            <input
              type="button"
              value="Delete"
              onclick="location.href='/product/<%= product.id %>/delete'"
            />
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <script>
      const tbody = document.getElementById("lecturesTableData1");

      function tableSort(colNum, cmp) {
        let rows = [...tbody.rows];
        rows.sort((a, b) => cmp(a.cells[colNum].textContent, b.cells[colNum].textContent))
          .map(row => tbody.appendChild(row));
      }
      function sortCodeAsc() {
        tableSort(0, (a, b) => a - b);
      }
      function sortCodeDes() {
        tableSort(0, (a, b) => b - a);
      }
      function sortNameAsc() {
        tableSort(1, (a, b) => a.localeCompare(b));
      }
      function sortNameDes() {
        tableSort(1, (a, b) => b.localeCompare(a));
      }
      function sortCategoryAsc() {
        tableSort(2, (a, b) => a.localeCompare(b));
      }
      function sortCategoryDes() {
        tableSort(2, (a, b) => b.localeCompare(a));
      }
      function sortStoreNameAsc() {
        tableSort(3, (a, b) => a.localeCompare(b));
      }
      function sortStoreNameDes() {
        tableSort(3, (a, b) => b.localeCompare(a));
      }
      function sortWarehouseQtyAsc() {
        tableSort(4, (a, b) => a - b);
      }
      function sortWarehouseQtyDes() {
        tableSort(4, (a, b) => b - a);
      }
      function sortStoreQtyAsc() {
        tableSort(5, (a, b) => a - b);
      }
      function sortStoreQtyDes() {
        tableSort(5, (a, b) => b - a);
      }
      function sortCostAsc() {
        tableSort(6, (a, b) => a - b);
      }
      function sortCostDes() {
        tableSort(6, (a, b) => b - a);
      }
      function sortPriceAsc() {
        tableSort(7, (a, b) => a - b);
      }
      function sortPriceDes() {
        tableSort(7, (a, b) => b - a);
      }
    </script>
  </div>
</section>
<%- include('layouts/footer'); -%>

