<%- include('layouts/head'); -%> <%- include('layouts/header'); -%> <%-
include('layouts/nav'); -%>
<section>
  <div id="login">
    <form action="" name="registerForm" method="POST">
      <label for="username">User Name:</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Enter a new username"
        style="width: 150px"
      /><br />
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter a new password"
        style="width: 150px"
      /><br /><br />
      <p id="errors">
        <% if(typeof error !== 'undefined'){ %> <%= error %> <% } %>
      </p>
      <input type="submit" value="Submit" />
    </form>
  </div>
</section>
<%- include('layouts/footer'); -%>
