<%- include('layouts/head'); -%> <%- include('layouts/header'); -%> <%-
include('layouts/nav'); -%>
<section>
  <button id="createStore"><a href="/store/create">Add a store</a></button>
  <div id="storeTable">
    <table id="storeList">
      <thead>
        <tr>
          <th>Store</th>
          <th>Address</th>
          <th>City</th>
          <th>Hours</th>
          <th>Phone number</th>
          <th>Store manager</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(var store of stores) { %>
        <tr>
          <td><%= store.storeName %></td>
          <td><%= store.streetAddress %></td>
          <td><%= store.city %></td>
          <td><%= store.openingHours %></td>
          <td><%= store.phoneNumber %></td>
          <td><%= store.storeManager %></td>
          <td>
            <input
              type="button"
              value="Edit"
              onclick="location.href='/store/<%= store.id %>/update'"
            />
          </td>
          <td>
            <input
              type="button"
              value="Delete"
              onclick="location.href='/store/<%= store.id %>/delete'"
            />
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
<%- include('layouts/footer'); -%>
