<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>
    <section>
      <table>
        <thead>
          <tr>
            <th>Store</th>
            <th>Address</th>
            <th>Hours</th>
            <th>Store manager</th>
            <th>Phone number</th>
          </tr>
        </thead>
        <tbody>
          <% for(var store of stores) { %>
          <tr>
            <td>Store Name</td>
            <td><%= store.address %></td>
            <td>Store Hours</td>
            <td><%= store.storeManager %></td>
            <td><%= store.phoneNumber %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  <%- include('layouts/footer'); -%>